* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

::selection {
  background-color: #5ce6d4;
  color: #144e58;
}
::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #0f172a;
  color: lavender;
  /* color: white; */
  font-family: SF Pro Display;
}

a {
  color: #1c9bf7;
  text-decoration: none;
}

a.clicked {
  color: #1c9bf7;
  text-decoration: none;
}

#hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-section-mini {
  width: 95%;
  height: 95vh;
  overflow: hidden;
  position: relative;
}

#background-img-with-vector-img {
  position: absolute;
  width: max-content;
  height: max-content;
  top: 22%;
  left: 45.5%;
  z-index: 9;
}

#back-groung-img #back-groung-img-back {
  width: 9vw;
}

#profile-vector-img {
  position: absolute;
  top: 27%;
  left: 4.5%;
  z-index: -10;
}

#quick-nav-text {
  position: absolute;
  top: -52%;
  left: -41%;
}

#back-groung-img img {
  width: 9vw;
}

#profile-vector-img img {
  width: 6.7vw;
  border-radius: 50%;
}

/* animation hover profile*/
.small-circle {
  position: absolute;
  top: 2%;
  right: 4%;
  width: 2vw;
  height: 2vh;
  border-radius: 50%;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  color: #1c9bf7;
}

#small-img-project {
  position: absolute;
  top: 0%;
  right: 3%;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: white;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  border-radius: 50%;
}

#small-img-know {
  position: absolute;
  top: 0%;
  right: 3%;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: white;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  border-radius: 50%;
}

#small-img-contact {
  position: absolute;
  top: 0%;
  right: 3%;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: white;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  border-radius: 50%;
}

#small-img-project .img-small {
  width: 2vw;
}

#small-img-know .img-small {
  width: 2vw;
}

#small-img-contact .img-small {
  width: 2vw;
}

#back-groung-img:hover .small-circle {
  opacity: 1;
}

#back-groung-img:hover #small-img-project {
  transform: translate(30px, -75px);
}

#back-groung-img:hover #small-img-know {
  transform: translate(80px, -20px);
}

#back-groung-img:hover #small-img-contact {
  transform: translate(60px, 50px);
}

/* name-section */
#name-section-welcome-download-btn {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#welcome-section p {
  font-size: 5rem;
  font-family: "Rubik", sans-serif;
  font-family: "Madimi One";
}

#name-section p {
  font-size: 2.5rem;
  position: relative;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

#download-section {
  position: absolute;
  bottom: -80%;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#download-section #btn {
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  background-color: #172137;
  font-size: 1.1rem;
}

/* .about-section */

.about-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#about-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20%;
  left: 5%;
  font-size: 1.6rem;
  transition: font-size 0.5s ease;
  opacity: 1;
}

#about-img {
  width: 59px;
}

#about-info-container {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 90%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  font-size: 1.5rem;
  color: #144e58;
}

#git-replit-linkd-section {
  overflow: hidden;
  position: absolute;
  top: 76%;
  left: 22%;
  color: #144e58;
  font-size: 1.5rem;
  height: max-content;
  z-index: 999;
  opacity: 0;
}

/* projects */

.project-section-box {
  width: 100%;
  height: 14vh;
  position: relative;
}

#project-text-box {
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 1.6rem;
  display: flex;
}

#project-img {
  width: 59px;
}

.display-project1 {
  width: 100%;
  height: 90vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.project-box1 {
  position: absolute;
  top: 6%;
  right: -90%;
  width: 97%;
  padding: 15px;
  border-radius: 15px;
  background-color: #010a1b;
}

.left-box {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.center-box {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.overflow-link {
  position: absolute;
  top: 0%;
  right: -20%;
  width: 23%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

.live-link {
  height: max-content;
  width: max-content;
  background-color: #1c9bf7;
  border-radius: 30px;
  padding: 10px;
}

.live-link a {
  font-size: 1vw;
  color: black;
}

.animated-section {
  width: 80%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.animated-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 4.5vw;
  font-weight: bold;
  background-image: url("https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?q=80&w=2200&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: 80%;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
}

.micro-project-display .i-tag {
  font-size: 1rem;
}

.letter-sm-spacing1 {
  font-size: 4vw;
  background-image: url("https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?q=80&w=2200&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: 120%;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
}

.right-box {
  width: 100%;
  height: 10vh;
  position: relative;
}

.right-box-top-text {
  width: 50%;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

.bottom-link {
  width: max-content;
  height: max-content;
  position: absolute;
  bottom: -23%;
  right: -2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px 0px 20px 0px;
  padding: 18px 20px 10px 20px;
  border: 5px solid #0f172a;
}

.display-project2 {
  width: 100%;
  height: 90vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.project-box2 {
  position: absolute;
  top: 6%;
  right: -90%;
  width: 97%;
  padding: 15px;
  border-radius: 15px;
  background-color: #010a1b;
}

.display-project3 {
  width: 100%;
  height: 90vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.project-box3 {
  position: absolute;
  top: 6%;
  right: -90%;
  width: 97%;
  padding: 15px;
  border-radius: 15px;
  background-color: #010a1b;
}

/* more-project-section */
.more-project-section {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.more-project-mini-section {
  width: 90%;
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.box-project-section {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  font-size: 0.8rem;
  overflow: hidden;
  background-color: #010a1b;
}

.more-project-section-left {
  width: 100%;
  height: 10vh;
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.more-project-section-center {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-project-section-right {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 15px;
}

.letter-sm-spacing {
  font-size: 1.2vw;
  background-image: url("https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?q=80&w=2200&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: 100%;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
}

.project-section-box-1 {
  width: 100%;
  height: 20vh;
  position: relative;
  overflow: hidden;
}

.animated-section {
  user-select: none;
}

#project-text-box-1 {
  position: absolute;
  top: 65%;
  left: 5%;
  display: flex;
  font-size: 1.6rem;
}

#project-img-1 {
  width: 59px;
}

.what-i-know-section {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.what-i-know-section-mini {
  width: 90%;
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 7px;
}

.what-i-know-section-mini .what-i-know-box {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  overflow: hidden;
}

.what-i-know-box div {
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: lavender;
  color: #010a1b;
  gap: 9px;
  border-radius: 30px;
  font-size: 0.9rem;
}

.what-i-know-section-mini div img {
  width: 2vw;
}

.what-i-know-box-add div {
  margin-left: 10px;
  margin-right: 10px;
}

/* contect-us-section */
.project-section-box-2 {
  width: 100%;
  height: 10vh;
  overflow: hidden;
  position: relative;
}

#project-text-box-2 {
  position: absolute;
  top: 20%;
  left: 5%;
  display: flex;
  font-size: 1.6rem;
}

#project-img-2 {
  width: 59px;
}

.contact-info-section {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.contact-info-section-mini {
  width: 90%;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
  background-color: #010a1b;
  overflow: hidden;
}

.contact-info-box {
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  background-color: #0f172a;
}

.contact-info-box a {
  color: lavender;
}

.contact-info-box i {
  padding: 7px;
  font-size: 1wv;
}

@media only screen and (max-width: 374px){
  #background-img-with-vector-img {
    top: 25%;
    left: 40%;
  }

  #back-groung-img #back-groung-img-back {
    width: 25vw;
  }

  #quick-nav-text {
    top: -35%;
    left: -20%;
  }

  #back-groung-img img {
    width: 18.5vw;
  }

  #small-img-project {
    width: 35px;
    height: 35px;
  }

  #small-img-know {
    width: 35px;
    height: 35px;
  }

  #small-img-contact {
    width: 35px;
    height: 35px;
  }

  #small-img-project .img-small {
    width: 4.5vw;
  }

  #small-img-know .img-small {
    width: 4.5vw;
  }

  #small-img-contact .img-small {
    width: 4.5vw;
  }

  #welcome-section p {
    font-size: 15vw;
  }

  #name-section p {
    font-size: 5vw;
  }

  #download-section {
    position: absolute;
    bottom: -130%;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #about-info-container {
    font-size: 3.5vw;
  }

  #about-text {
    font-size: 5vw;
  }

  #about-img {
    width: 40px;
  }

  #git-replit-linkd-section {
    top: 82%;
    left: 5%;
    font-size: 3.5vw;
    opacity: 0;
  }

  #project-text-box {
    font-size: 5vw;
  }

  #project-img {
    width: 40px;
  }

  .project-box1 {
    right: -90%;
    width: 90%;
    height: 80vh;
  }

  .left-box {
    height: 8vh;
    font-size: 2.5vw;
  }

  .animated-text {
    font-size: 10.5vw;
  }

  .live-link {
    padding: 5px 10px 10px 10px;
  }

  .live-link a {
    font-size: 2vw;
  }

  .right-box {
    height: 8vh;
    font-size: 2.5vw;
  }

  .bottom-link {
    bottom: -32%;
    right: -7%;
  }

  .project-box2 {
    right: -90%;
    width: 90%;
    height: 80vh;
  }

  .project-box3 {
    right: -90%;
    width: 90%;
    height: 80vh;
  }

  .animated-text1 {
    font-size: 9vw;
  }

  .letter-sm-spacing1 {
    font-size: 8vw;
  }

  .box-project-section {
    font-size: 2.5vw;
  }

  .more-project-mini-section {
    flex-direction: column;
  }

  .more-project-section-center {
    height: 15vh;
  }

  .letter-sm-spacing {
    font-size: 3vw;
  }

  #project-text-box-1 {
    top: 62%;
    left: 5%;
    font-size: 5vw;
  }

  #project-img-1 {
    width: 40px;
  }

  .what-i-know-section-mini {
    gap: 4px;
  }

  .what-i-know-box div {
    flex-direction: column;
    font-size: 2.5vw;
    border-radius: 10px;
  }

  #project-text-box-2 {
    font-size: 5vw;
  }

  #project-img-2 {
    width: 40px;
  }

  .contact-info-box {
    font-size: 2.5vw;
  }
}



@media only screen and (min-width: 375px) and (max-width: 426px) {
  #background-img-with-vector-img {
    top: 25%;
    left: 40%;
  }

  #back-groung-img #back-groung-img-back {
    width: 25vw;
  }

  #quick-nav-text {
    top: -35%;
    left: -20%;
  }

  #back-groung-img img {
    width: 18.5vw;
  }

  #small-img-project {
    width: 35px;
    height: 35px;
  }

  #small-img-know {
    width: 35px;
    height: 35px;
  }

  #small-img-contact {
    width: 35px;
    height: 35px;
  }

  #small-img-project .img-small {
    width: 4.5vw;
  }

  #small-img-know .img-small {
    width: 4.5vw;
  }

  #small-img-contact .img-small {
    width: 4.5vw;
  }

  #welcome-section p {
    font-size: 15vw;
  }

  #name-section p {
    font-size: 5vw;
  }

  #download-section {
    position: absolute;
    bottom: -130%;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #about-info-container {
    font-size: 3.5vw;
  }

  #about-text {
    font-size: 5vw;
  }

  #about-img {
    width: 40px;
  }

  #git-replit-linkd-section {
    top: 82%;
    left: 5%;
    font-size: 3.5vw;
    opacity: 0;
  }

  #project-text-box {
    font-size: 5vw;
  }

  #project-img {
    width: 40px;
  }

  .project-box1 {
    right: -90%;
    width: 90%;
    height: 80vh;
  }

  .left-box {
    height: 8vh;
    font-size: 2.5vw;
  }

  .animated-text {
    font-size: 10.5vw;
  }

  .live-link {
    padding: 5px 10px 10px 10px;
  }

  .live-link a {
    font-size: 2vw;
  }

  .right-box {
    height: 8vh;
    font-size: 2.5vw;
  }

  .bottom-link {
    bottom: -32%;
    right: -7%;
  }

  .project-box2 {
    right: -90%;
    width: 90%;
    height: 80vh;
  }

  .project-box3 {
    right: -90%;
    width: 90%;
    height: 80vh;
  }

  .animated-text1 {
    font-size: 9vw;
  }

  .letter-sm-spacing1 {
    font-size: 8vw;
  }

  .box-project-section {
    font-size: 2.5vw;
  }

  .more-project-mini-section {
    flex-direction: column;
  }

  .more-project-section-center {
    height: 15vh;
  }

  .letter-sm-spacing {
    font-size: 3vw;
  }

  #project-text-box-1 {
    top: 62%;
    left: 5%;
    font-size: 5vw;
  }

  #project-img-1 {
    width: 40px;
  }

  .what-i-know-section-mini {
    gap: 4px;
  }

  .what-i-know-box div {
    flex-direction: column;
    font-size: 2.5vw;
    border-radius: 10px;
  }

  #project-text-box-2 {
    font-size: 5vw;
  }

  #project-img-2 {
    width: 40px;
  }

  .contact-info-box {
    font-size: 2.5vw;
  }
}

@media only screen and (min-width: 426px) and (max-width: 769px) {
  #background-img-with-vector-img {
    top: 22%;
    left: 43%;
  }

  #back-groung-img #back-groung-img-back {
    width: 15vw;
  }

  #quick-nav-text {
    top: -35%;
    left: -20%;
  }

  #back-groung-img img {
    width: 11vw;
  }

  #name-section p {
    font-size: 3vw;
  }

  #download-section {
    position: absolute;
    bottom: -130%;
    width: 100%;
  }

  #about-info-container {
    font-size: 2.4vw;
  }

  #git-replit-linkd-section {
    top: 92%;
    left: 10%;
    font-size: 2.4vw;
    opacity: 0;
  }

  .project-box1 {
    right: -90%;
    width: 94%;
  }

  .left-box {
    height: 8vh;
    font-size: 2vw;
  }

  .animated-text {
    font-size: 8vw;
  }

  .live-link {
    padding: 10px;
  }

  .live-link a {
    font-size: 2vw;
  }

  .right-box {
    height: 8vh;
    font-size: 2vw;
  }

  .bottom-link {
    bottom: -32%;
    right: -3%;
  }

  .project-box2 {
    right: -90%;
    width: 94%;
  }

  .project-box3 {
    right: -90%;
    width: 94%;
  }

  .box-project-section {
    font-size: 1.5vw;
  }

  .more-project-mini-section {
    flex-direction: column;
  }

  .more-project-section-center {
    height: 15vh;
  }

  .letter-sm-spacing {
    font-size: 2vw;
  }
}
